body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#top{
    display: flex;
    flex-grow: 1;
}
#top div{
    flex-basis: 1px;
}
#logo{
    flex-grow: 1;
    background-color: blue
}
#header{
    flex-grow: 9;
    background-color: aqua;
}
#mid{
    width: 100%;
    clear: both;
    display: flex;
    flex-grow: 5;
}
#mid div{
    flex-basis: 1px;
}
#menu{
    flex-grow: 1;
    background-color: darksalmon
}
#content{
    flex-grow: 8;
    background-color: chartreuse;
}
#sub_menu{
    flex-grow: 1;
}
#footer{
    background-color: red;
    flex-grow: 1;
}